.sidebar {
  width: 30%;
  float: left;
  background-color: peachpuff;
}

img {
  float: right;
  width: 20%;
}

#img1 {
  float: left;
}

#img2 {
  float:center;
}

#img3 {
  float: right;
}

#box1 {
  width: 50%;
  padding:20px;
  border:black;
  border-width: 1px;
  background-color: purple;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.box2 {
  width: 40%;
  padding: 15px;
  border: dotted navy;
  border-width: 30px;
  background-color: orange;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.box3 {
  width: 70%;
  padding: 25px;
  border: dashed hotpink;
  border-width: 30px;
  background-color: lightgoldenrodyellow;
  margin-bottom: 20px;
  box-sizing: border-box;
}